/*This applies to ALL pages*/
$maincolor: #6df; 
$bpimage: url(jake.png);

body {
	background: $bpimage;
	background-position: -50px;
	margin: 0px;


	header {
		background: url(logo.png) no-repeat;
		background-position: center 10px;
		background-color: $maincolor;
		height: 215px;	
	}

}